h1{
    color: rgb(0, 140, 255);
    background-color:rgba(255, 174, 0, 0.904)
}
h2{
    color: blue;
    background: rgba(255, 172, 0, 0.904);
    box-sizing: border-box;
    margin: auto;
 h3{
    color:blue;
    
    
    ;   
 }   
}
html{
    background-color:khaki;
}